.contact-container {
  margin: 4rem 0;
  position: relative;
}

.contact-container h5 {
  font-size: 1.5rem;
  font-weight: 6000;
  margin-bottom: 3rem;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.contact-container::after {
  content: " ";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(225px);
}

.contact-container::before {
  content: " ";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(225px);
}

.contact-container::after {
  top: -3rem;
  left: -5rem;
}

.contact-container::before {
  bottom: 2rem;
  right: 0rem;
}

@media (max-width: 768px) {
  .contact-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .contact-content {
    gap: 1rem;
  }
}
