.contact-details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(22, 17, 47, 0.4);
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  padding: 1.5rem;
  min-width: 20rem;
  flex: 1 0 45%;
}

.contact-details-card .icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: #3d3072;
  margin-bottom: 0.8rem;
}
.icon img {
  width: 1.8rem;
  height: auto;
  object-fit: contain;
}

.contact-details-card p {
  font-size: 0.9rem;
  font-weight: 400;
}

.contact-details-card a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.contact-details-card a:link {
  color: #fff;
}

.contact-details-card a:visited {
  color: #fff;
}

.contact-details-card a:hover {
  color: #fff;
}

.contact-details-card a:active {
  color: #fff;
}

.contact-details-card .icon .invert {
  filter: invert(1);
}
