.certifications-container {
  margin: 4rem 0;
  position: relative;
}

.certifications-container h5 {
  font-size: 1.3rem;
  font-weight: 6000;
  margin-bottom: 3rem;
}

.certifications-content {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .certifications-content {
    flex-direction: column;
    gap: 1rem;
  }
}
